### Começando a entender a base

In [3]:
# Importando o pandas
import pandas as pd

---

In [4]:
# Importando a base em csv
treino = pd.read_csv('train.csv')
treino.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [5]:
# Importando o ProfileReport do ydata-profiling
from ydata_profiling import ProfileReport

In [6]:
# Gerando a visualização
profile = ProfileReport(treino, title='titanic_treino')

In [7]:
# Gerando a visualização
profile.to_file("your_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\JessicaCristinaFabia\anaconda3\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'S'')
  warnings.warn(
C:\Users\JessicaCristinaFabia\anaconda3\Lib\site-packages\seaborn\matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
C:\Users\JessicaCristinaFabia\anaconda3\Lib\site-packages\ydata_profiling\model\missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Visualizando a base de treino

In [8]:
# Verificando as informações da base
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
# Verificando o tipo de dados
treino.dtypes.value_counts()

int64      5
object     5
float64    2
Name: count, dtype: int64

In [10]:
# E os valores nulos
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

---

### Visualizando a base de teste

In [11]:
# Visualizando a base de dados
teste = pd.read_csv('test.csv')
teste.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [12]:
# Verificando as informações da base
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [13]:
# Analisando os valores nulos
teste.isnull().sum().sort_values(ascending=False).head(5)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
dtype: int64

Temos colunas que <b>possuem valores vazios na base de teste, que não estão vazias na base de treino</b> (nesse caso, precisaremos tratar essas 
colunas apenas na base de teste)

---

### Realizando os tratamentos iniciais dos dados

In [14]:
# Verificando novamente valores vazios para a base de treino
teste.isnull().sum().sort_values(ascending=False).head(5)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
dtype: int64

In [15]:
# Retornando o shape da base
treino.shape

(891, 12)

In [16]:
# Visualizando novamente a base
treino.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [17]:
# Verificando a cardinalidade dos dados
treino.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

Colunas com <b>alta cardinalidade</b> como nome, número do ticket e até mesmo o código da cabine não vão ajudar o modelo,
pois podem torná-lo <b>menos generalizável</b>. Neste caso, vamos <b>eliminar essas colunas.</b>

In [18]:
# Eliminando para a base de treino
treino = treino.drop(['Name', 'Ticket', 'Cabin'],axis=1)

In [19]:
#Também eliminando para a base de teste
teste = teste.drop(['Name', 'Ticket', 'Cabin'],axis=1)

Agora precisamos tratar a coluna <b>Age</b>, que possui valores vazios tanto no treino quanto no teste.
Como essa coluna possui a idade dos passageiros, podemos utilizar a <b>media das idades</b> para substituir os valores vazios.

In [20]:
# Verificando a média das idades para a base de treino
treino.Age.mean()

29.69911764705882

In [21]:
# Podemos agora selecionar as colunas com idade vazia e substituir por essa média
treino.loc[treino.Age.isnull(),'Age'] = treino.Age.mean()

In [22]:
# E fazendo o mesmo para a base de teste
teste.loc[teste.Age.isnull(),'Age'] = treino.Age.mean()

Para a base de treino, ainda temos 2 valores vazios na coluna <b>Embarked</b>
Podemos verificar todos os valores nessa coluna e substituir os valores vazios pela <b>moda</b>

In [23]:
#Verificando os valores na coluna Embarked
treino.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [24]:
# Selecionando a moda dessa coluna
treino.Embarked.mode()[0]

'S'

In [25]:
# Substituindo os valores vazios
treino.loc[treino.Embarked.isnull(),'Embarked'] = treino.Embarked.mode() [0]

Para finalizar, para a base de teste ainda temos 1 valor vazio em <b>Fare</b>
Podemos utilizar a mesma lógica que fizemos para a coluna Age e substituir pela <b>moda</b>

In [26]:
# Verificando a media da coluna Fare para a base de teste
teste.loc[teste.Fare.isnull(), 'Fare'] = teste.Fare.mean()

<b>Verificando novamente os valores vazios</b>

In [27]:
# Para a base de treino
treino.isnull().sum().sort_values(ascending=False).head(5)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
dtype: int64

In [28]:
# Para a base de teste
teste.isnull().sum().sort_values(ascending=False).head(5)

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
dtype: int64

### Considerando apenas as colunas que não são de texto

In [29]:
# Verificando as colunas de texto na base de treino
col_treino_nr = treino.columns[treino.dtypes != 'object']
col_treino_nr

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [30]:
# Selecionando apenas os valores numéricos da base de treino
treino_nr = treino.loc[:,col_treino_nr]

In [31]:
# E para a base de teste
col_teste_nr = teste.columns[teste.dtypes != 'object']
col_teste_nr

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [32]:
# E os valores numéricos da base de teste
teste_nr = teste.loc[:,col_teste_nr]

Antes de usar os algoritmos, precisamos separar a base de treino em <b>treino e validação</b>
Vamos fazer isso utilizando o <b>train_test_split</b>

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [33]:
# Importando o train_test_split
from sklearn.model_selection import train_test_split

In [34]:
# Separando a base de treino em x e y
X = treino_nr.drop(['PassengerId', 'Survived'], axis=1 )
y = treino.Survived

In [35]:
# Separando em treino e validação
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

Para a <b>árvore de classificação</b>

In [36]:
# Fazendo a importação
from sklearn import tree

In [37]:
# Criando o classificador
clf_ac = tree.DecisionTreeClassifier(random_state=42)

In [38]:
# Fazendo o fit com os dados
clf_ac = clf_ac.fit(X_train,y_train)

In [39]:
# Fazendo a previsão
y_pred_ac = clf_ac.predict(X_val)

Para o <b>KNeighbornsClassifier</b>

In [40]:
# Importando
from sklearn.neighbors import KNeighborsClassifier

In [41]:
# Criando o classificador
clf_knn = KNeighborsClassifier(n_neighbors=3)

In [42]:
# Fazendo o fit com os dados
clf_knn = clf_knn.fit(X_train,y_train)

In [43]:
# Fazendo a previsão
y_pred_knn = clf_knn.predict(X_val)

E para a <b>Regressão Logistica</b>

In [44]:
# Importando
from sklearn.linear_model import LogisticRegression

In [45]:
# Criando o classificador
clf_rl = LogisticRegression(random_state=42)

In [46]:
# Fazendo o fit com os dados
clf_rl = clf_rl.fit(X_train,y_train)

In [47]:
# Fazendo a previsão
y_pred_rl = clf_rl.predict(X_val)

### E, para finalizar, vamos avaliar esses modelos

Avaliando a <b>acurácia</b>

In [48]:
# Importando
from sklearn.metrics import accuracy_score

In [49]:
# Para a árvore
accuracy_score(y_val, y_pred_ac)

0.6169491525423729

In [50]:
# Para o km
accuracy_score(y_val, y_pred_knn)

0.6542372881355932

In [51]:
# Para a regressão Logistica
accuracy_score(y_val, y_pred_rl)

0.7254237288135593

Avaliando a <b>matriz de confusão</b>

In [52]:
# Importando
from sklearn.metrics import confusion_matrix

In [53]:
# Para a árvore
confusion_matrix(y_val, y_pred_ac)

array([[125,  50],
       [ 63,  57]], dtype=int64)

In [54]:
# Para o km
confusion_matrix(y_val, y_pred_knn)

array([[133,  42],
       [ 60,  60]], dtype=int64)

In [55]:
# Para a regressão Logistica
confusion_matrix(y_val, y_pred_rl)

array([[156,  19],
       [ 62,  58]], dtype=int64)

### Fazendo a previsão para os dados de teste

In [56]:
# Visualizando o x_train
X_train.head(3)

     Pclass        Age  SibSp  Parch     Fare
6         1  54.000000      0      0  51.8625
718       3  29.699118      0      0  15.5000
685       2  25.000000      1      2  41.5792

In [57]:
# Visualizando a base de teste (apenas com valores numéricos)
teste_nr.head(3)

   PassengerId  Pclass   Age  SibSp  Parch    Fare
0          892       3  34.5      0      0  7.8292
1          893       3  47.0      1      0  7.0000
2          894       2  62.0      0      0  9.6875

In [58]:
# Para a base de teste ser igual a base de treino, precisamos eliminar a coluna de id
X_teste = teste_nr.drop("PassengerId", axis=1)

In [59]:
# Utilizando a regressão logistica na base de teste
y_pred = clf_rl.predict(X_teste)

In [60]:
# Criando uma nova coluna com a previsão na base de teste
teste ['Survived'] = y_pred

In [62]:
# Selecionando apenas a coluna de Id e Survived para fazer o envio
base_envio = teste[['PassengerId','Survived']]

In [65]:
# Exportando para um csv
base_envio.to_csv('resultados1.csv', index=False)